@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: rgb(244,0,0);
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}
body::-webkit-scrollbar{
    display: none;
  }
  .table-responsive::-webkit-scrollbar-thumb, #recent::-webkit-scrollbar-thumb, #notif::-webkit-scrollbar-thumb {
      background: grey
  }
  
  .table-responsive::-webkit-scrollbar, #recent::-webkit-scrollbar, #notif::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      display: block;
  
    }
*,
::before,
::after {
    box-sizing: border-box
}
::placeholder{
    font-size: 0.8em;
}
.btn-action{
    width: 50px
}
.box-shadow{
    box-shadow: 0 1px 2px grey;
}
.added-logo{
    
    background-color: rgb(0, 179, 89);
   
}
.clearfix{
    clear: both;
}
.entries{
    float: left;margin-top: 1.5%;margin-left: 1%;
}
/* #notif:hover{
    
    background-color: rgb(0, 179, 89);
   
} */
body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background-color: rgba(198, 217, 235, 0.2)
}

a {
    text-decoration: none
}
.delete-logo{
    background-color: rgb(255, 0, 0);
    
}
.delete-notif-btn{
    background-color: transparent;border: none;margin-top: -2px
}
.docinfo{
    margin-left: 1.2em;letter-spacing: 2px;
}
.edit-logo, .inout-logo{
    background-color: rgb(0, 153, 153);
}
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;
    background-color: var(--first-color);
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}
.max-td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.min-action-btns{
    min-width: 200px;
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
    
    color: rgb(255,255,255);
}

.nav_logo {

    margin-bottom: 2rem;
    color: rgb(255,255,255);
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1rem;
    /* 1.5em */
    transition: .3s;
    color: rgb(255,255,255);
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}
#recent, #notif{
    max-height: 500px;
    overflow: auto;
}
#recent li .btn-logo{
    /* background-color: r; */
    border: none;
    font-size: 15px;
    margin-right: 10px;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    color: rgb(255,255,255);

}
.red{
    color: rgb(244, 0, 0);
}
.page-title{
    font-size: 1.5em;
    margin: 0 0 0.4em 0;
    border-radius: 0.1em;
    /* box-shadow: 0 1px 2px grey; */
    border: 1px solid #ddd;
    font-weight: bold;
    padding: 0.8em 0.8em 0.6em 0.8em;
    color: rgb(71, 107, 107);
    background-color: rgb(255,255,255);
}
.pull-right{
    float: right;
}

.blue{
    color: rgb(0, 102, 204);
}
.red{
    color: rgb(255, 0, 0);
}
.reg-size{
    font-weight: 500;
    /* font-size: 1em; */
}
.table-title{
    padding: 0.4em 0.4em 0.2em 0;
    font-weight: 600;
    font-size: 1.6em;
    border-bottom: 2px solid grey;
    
}
.showModal {
    left: 0
}
.search{
    width: 40%;
    /* left: -17%; */
    height: auto;
 
}
.search span{
    height: 38px;padding-top: 0.6em;
}
.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}
.qrimage{
    height: 120px;
    width: 150px;
}

.show-entries{
    float: left;
    margin-top: 1.5%;
    margin-right: 1%;
}
.totalToShow{
    height: 38px;width: 100px;margin-top: 1%;float: left;
}
#users-list li:hover{
    background-color: rgba(71, 107, 107, 0.2);
}
.datetime{
    font-size: 0.6em;
    margin-top: 0.4em;
}
.wordbreak{
    word-break: break-all;
}
.top-name{
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    #search-all-docs, #search-all-received-docs, #search-all-shared-docs, #search-all-removed-docs{
        float: right;width: 100%;
    }
    .datetime{
        display: none;
    }
    .search{
       
        left: -15%;
  
     
    }
    .top-name{
        position: fixed;
        right: 4em;
        font-size: 1em;
        font-weight: 600;
        color: rgb(255,255,255);
    }
}
@media screen and (min-width: 768px) {
    #search-all-docs, #search-all-received-docs, #search-all-shared-docs, #search-all-removed-docs{
        float: right;
        width: 250px;
    }
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .showModal {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
    .search{
      
        left: -7%;
      
    }
    .top-name{
        position: fixed;
        right: 4em;
        font-size: 1.4em;
        color: rgb(255,255,255);
        font-weight: 600;
    }
}
.center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
} 
.spinner1{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    padding-top: 20%;
    background-color: rgb(204, 0, 0);;
}
#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    /* box-shadow: 1px 2px white; */
    border-top: 12px solid rgb(204, 0, 0);;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}
