{% extends 'html/templates/admin_base.html' %}

{% block admin %}
   
{% include 'html/admin/sidenav.html' %}
<!--Container Main start-->
<div class="height-100  pt-3 pl-1 pr-1 " id="docs" >
       {% csrf_token %}
        <div class="container">
            <!-- <h4 class="pl-3 page-title">  | <span class="fa fa-trash"></span> Recycle Bin |</h4> -->
            <h4 class="pl-3 page-title"> <span class="fa fa-folder-open"></span> Documents <p  class="pull-right datetime"><i class="fa fa-calendar"></i> <span id="date"> </span> <i class="fa fa-clock"></i> <span id="time"></span></p></h4>
            <p class="mb-2 table-title"><span class="blue fa fa-thumbs-down"></span> Approved Documents</p>
            <div class="bg-white p-4 b box-shadow">
                <button class="btn btn-primary mb-2"  title="Add Document" data-bs-toggle="modal" data-bs-target="#addDoc"><span class="fa fa-plus"></span> Add</button>
                <input type="text"  placeholder="Search . . ." v-model="filterApprovedDocs" @keyup="searchApprovedDocs" class="mb-2 form-control" id="search-all-docs">
                
                <div class="table-responsive clearfix ">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Trace #</th>
                        <th>Document</th>
                        <th >Description</th>
                        <th>Type</th>
                        <th>Date</th>
                      
                        <th>Department</th>
                        <th>Action</th>
                    
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="doc,index in approvedDocs">
                              
                            <td v-if="index < toShowApproved" >[doc.trace_id]</td>
                            <td v-if="index < toShowApproved" data-bs-toggle="tooltip" data-bs-placement="bottom" :title="getDocName(doc.document)" class="max-td">[ getDocName(doc.document) ] <p class="text-center mb-1 mt-2"><button class="btn btn-primary btn-sm " data-bs-toggle="modal" data-bs-target="#rename" @click="newFilename=getDocName(doc.document);newFilenameId=doc.id"> <span class="fa fa-edit"></span> Rename</button></p> </td>
                            <td v-if="index < toShowApproved" class="max-td">[doc.desc]</td>
                            <td v-if="index < toShowApproved">[doc.type]</td>
                            <td v-if="index < toShowApproved">[doc.uploaded_at]</td>
                         
                            <td v-if="index < toShowApproved">[doc.department]</td>
                            <td v-if="index < toShowApproved" class="min-action-btns">
                                <button type="button" @click="docResponseInfo.comment = ''; docResponseInfo.sender ='';docResponseInfo.docname = doc.document;docResponseInfo.traceid = doc.trace_id;docResponseInfo.qrcode = doc.qr_code;docResponseInfo.type = doc.type;docResponseInfo.dept = doc.department;docResponseInfo.date = doc.uploaded_at;docResponseInfo.desc = doc.desc;docResponseInfo.status = doc.status" data-bs-toggle="modal" data-bs-target="#showDocInfo" class="mt-1 btn btn-primary btn-action btn-sm" style="margin-right: 0.2em;" data-bs-toggle="tooltip" title="View Document Info"><span class="fa fa-eye"></span></button>
                                <button type="button" @click="forUpdateDocInfo.id=doc.id;forUpdateDocInfo.desc=doc.desc;forUpdateDocInfo.type=doc.type;forUpdateDocInfo.dept=doc.department" class="mt-1 btn btn-success btn-action btn-sm " style="margin-right: 0.2em;" data-bs-toggle="modal" data-bs-target="#updateDoc" ><span class="fa fa-edit"></span></button>

                                <button type="button" class="mt-1 btn btn-danger btn-action btn-sm" style="margin-right: 0.2em;" data-bs-toggle="modal" data-bs-target="#deleteDoc" @click="toDeleteDocId = doc.id"><span class="fa fa-trash"></span></button>
                               
                            </td>
                       
                    
                        </tr>
                    </tbody>
                </table>
                <p v-if="approvedDocs.length == 0" class="text-center alert">No Data Available</p>
                <b class="show-entries">Show</b>
            
                    <select v-model="toShowApproved"  class="totalToShow">
                        <option v-for="toShow in limitApproved"   :value="toShow">[toShow]</option>
                        
                    </select>
                    <b class="entries">Entries 
                    
                </b>
                <br><br>
                
                </div>
            </div>
            <p class="mb-2 table-title mt-4"><span class="fa fa-toggle-off red"></span>  Pending Documents</p>
            <div class="bg-white p-4 b box-shadow mt-2">
                <button class="btn btn-primary mb-2" @click="approvedAllPendingDocs()" ><span class="fa fa-thumbs-up"></span> &ThinSpace; Approved All</button>
                <input type="text"  placeholder="Search . . ." v-model="filterPendingDocs" @keyup="searchPendingDocs" class="mb-2 form-control" id="search-all-docs">
                <div class="table-responsive clearfix ">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Trace #</th>
                        <th>Document</th>
                        <th >Description</th>
                        <th>Type</th>
                        <th>Date</th>
              
                        <th>Department</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="doc,index in pendingDocs">
                              
                            <td v-if="index < toShowPending" >[doc.trace_id]</td>
                            <td v-if="index < toShowPending" data-bs-toggle="tooltip" data-bs-placement="bottom" :title="getDocName(doc.document)" class="max-td">[ getDocName(doc.document) ] <p class="text-center mb-1 mt-2"><button class="btn btn-primary btn-sm "> <span class="fa fa-edit"></span> Rename</button></p> </td>
                            <td v-if="index < toShowPending" class="max-td">[doc.desc]</td>
                            <td v-if="index < toShowPending">[doc.type]</td>
                            <td v-if="index < toShowPending">[doc.uploaded_at]</td>
                  
                            <td v-if="index < toShowPending">[doc.department]</td>
                            <td v-if="index < toShowPending" class="min-action-btns">
                                <button type="button" @click="docResponseInfo.traceid = doc.trace_id;docResponseInfo.qrcode = doc.qr_code;docResponseInfo.type = doc.type;docResponseInfo.dept = doc.department;docResponseInfo.date = doc.uploaded_at;docResponseInfo.desc = doc.desc;docResponseInfo.status = doc.status" data-bs-toggle="modal" data-bs-target="#showDocInfo" class="mt-1 btn btn-success btn-action btn-sm" style="margin-right: 0.2em;" data-bs-toggle="tooltip" title="View Document Info"><span class="fa fa-eye"></span></button>
                                <button type="button" class="mt-1 btn btn-danger btn-action btn-sm " style="margin-right: 0.2em;" data-bs-toggle="modal" data-bs-target="#rejectDoc" @click="toRejectDocId = doc.id"><span class="fa fa-minus-circle"></span></button>
                                <button type="button" class="mt-1 btn btn-danger btn-action btn-sm" style="margin-right: 0.2em;"data-bs-toggle="modal" data-bs-target="#deleteDoc" @click="toDeleteDocId = doc.id"  ><span class="fa fa-trash"></span></button>
                                <button type="button" class="mt-1 btn btn-primary btn-action btn-sm" @click="approvedDoc(doc.id)"><span class="fa fa-thumbs-up"></span></button>
                            </td>
                       
                    
                        </tr>
                    </tbody>
                </table>
                <p v-if="pendingDocs.length == 0" class="text-center alert">No Data Available</p>
                <b class="show-entries">Show</b>
               
                    <select v-model="toShowPending"  class="totalToShow">
                        <option v-for="toShow in limitPending"   :value="toShow">[toShow]</option>
                        
                    </select>
                    <b class="entries">Entries 
                    
                </b> <br><br>
                </div>
            </div>
            <p class="mb-2 table-title mt-4"><span class="blue fa fa-share-square"></span> Shared Documents</p>
            <div class="bg-white p-4 b box-shadow mt-2">
                
                <input type="text"  placeholder="Search . . ." v-model="filterSharedDocs" @keyup="searchSharedDocs" class="mb-2 form-control" id="search-all-docs">
                <div class="table-responsive clearfix ">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Trace #</th>
                        <th>Document Name</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="doc, index in sharedDocs">
                            <td v-if="index < toShowShared">[doc.traceid]</td>
                            <td v-if="index < toShowShared" data-bs-toggle="tooltip" data-bs-placement="bottom" :title="getDocName(doc.docname)" class="max-td">[ getDocName(doc.docname) ]</td>
                            <td v-if="index < toShowShared">[doc.sender]</td>
                            <td v-if="index < toShowShared">[doc.receiver_name]</td>
                            <td v-if="index < toShowShared" class="text-center " style="padding-top: 12px;"> <strong v-if="doc.status == 'Approved' " class="p-2 alert-info">Received</strong><strong v-else class="alert-danger p-2">[doc.status]</strong> </td>
                            <td v-if="index < toShowShared">
                                <button type="button" @click="docResponseInfo.comment=doc.comment;docResponseInfo.docname = doc.docname;docResponseInfo.traceid = doc.traceid;docResponseInfo.qrcode = doc.traceid+'.png';docResponseInfo.type = doc.type;docResponseInfo.dept = doc.department;docResponseInfo.date = doc.received_on;docResponseInfo.desc = '';docResponseInfo.status = doc.status;docResponseInfo.sender = doc.sender" data-bs-toggle="modal" data-bs-target="#showDocInfo" class="btn btn-primary btn-action btn-sm" style="margin-right: 0.2em;" data-bs-toggle="tooltip" title="View Document Info"><span class="fa fa-eye"></span></button>
                               
                                <button type="button" class="btn btn-danger btn-action btn-sm" style="margin-right: 0.2em;"  data-bs-toggle="modal" data-bs-target="#deleteReceivedDocModal" @click="toDeleteReceivedDocId = doc.id"><span class="fa fa-trash"></span></button>
                                <button type="button" @click="downloadDoc(doc.docname)" class="btn btn-primary btn-action btn-sm " style="margin-right: 0.2em;"  ><span class="fa fa-download"></span></button>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <p v-if="sharedDocs.length == 0" class="text-center alert">No Data Available</p>
                <b class="show-entries">Show</b>
              
                    <select v-model="toShowShared"  class="totalToShow">
                        <option v-for="toShow in limitShared"   :value="toShow">[toShow]</option>
                        
                    </select>
                    <b class="entries">Entries 
                    
                </b><br><br>
                </div>
            </div>
        </div>
        <!-- class container end -->
                 <!-- The Modal for Uploading Document-->
                 <div class="modal fade" id="rename">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Rename Document</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                    
                            <!-- Modal body -->
                            <div class="modal-body pl-4 pr-4 pt-1">
                                <form @submit.prevent="rename()" class="p-2">
                                    {% csrf_token %}
                           
                                        <label for="">New Name</label>
                                        <input type="text" class="form-control" v-model="newFilename" required>
                                        
                                        <div class="d-grid mt-2">
                                            <button type="submit" class="btn-add btn btn-primary p-2">Submit</button>
                                        </div>
                                </form>
                            </div>
                    
                            <!-- Modal footer -->
                            <div class="modal-footer">
                            
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                    
                        </div>
                    </div>
                </div>
                  <!-- The Modal for Uploading Document-->
                  <div class="modal fade" id="updateDoc">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Update Document</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                    
                            <!-- Modal body -->
                            <div class="modal-body pl-4 pr-4 pt-1">
                                <form @submit.prevent="updateDocument()" class="p-2">
                                    {% csrf_token %}
                           
                                    <div class="mb-2 mt-1">
                                        <label for="comment" class="form-label">Description</label>
                                        <textarea class="form-control" v-model="forUpdateDocInfo.desc" rows="4" id="comment" required></textarea>
                                    </div>
                                    <div class="mb-2">
                                    <label for="pwd" class="form-label">Department</label>
                                    <select class="form-select"  v-model="forUpdateDocInfo.dept" required>
                                        <option v-for="dept in departments" :value="dept.department">[dept.department]</option>
                                        <!-- <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option> -->
                                    </select>
                                    </div>
                                    <div class="mb-2">
                                        <label for="pwd" class="form-label">Type</label>
                                        <select class="form-select"  v-model="forUpdateDocInfo.type">
                                            <option v-for="doctype in doctypes" :value="doctype.type">[doctype.type]</option>
                                        <!-- <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option> -->
                                        </select>
                                    </div>
                                
                                    <div class="d-grid mt-2">
                                        <button type="submit" class="btn-add btn btn-primary p-2">Submit</button>
                                    </div>
                                    
                                </form>
                            </div>
                    
                            <!-- Modal footer -->
                            <div class="modal-footer">
                            
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                    
                        </div>
                    </div>
                </div>
               <!-- The Modal for Uploading Document-->
               <div class="modal fade" id="addDoc">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Add Document</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                
                        <!-- Modal body -->
                        <div class="modal-body pl-4 pr-4 pt-1">
                            <form @submit.prevent="uploadDocument()" class="p-2">
                                {% csrf_token %}
                                <div class="mb-2 mt-1">
                                    <label for="email" class="form-label">Document</label>
                                    <input type="file" class="form-control" ref="file" id="file" @change="handleFileUpload()" placeholder="Enter email" required>
                                </div>
                                <div class="mb-2 mt-1">
                                    <label for="comment" class="form-label">Description</label>
                                    <textarea placeholder="Enter description . . ." class="form-control" v-model="docInfo.desc" rows="4" id="comment" required></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-2">
                                            <label for="pwd" class="form-label">Department</label>
                                            <select class="form-select"  v-model="docInfo.dept" required>
                                                <option v-for="dept in departments" :value="dept.department">[dept.department]</option>
            
                                            </select>
                                         </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-2">
                                            <label for="pwd" class="form-label">Type</label>
                                            <select class="form-select"  v-model="docInfo.type">
                                                <option v-for="doctype in doctypes" :value="doctype.type">[doctype.type]</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            
                                <div class="d-grid mt-2">
                                    <button type="submit" class="btn-add btn btn-primary p-2" >[status]</button>
                                </div>
                                
                            </form>
                        </div>
                
                        <!-- Modal footer -->
                        <div class="modal-footer">
                        
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                
                    </div>
                </div>
            </div>
                 <!-- The Modal for deleting document -->
                 <div class="modal" id="showDocInfo"  >
                    <div class="modal-dialog">
                        <div class="modal-content">
                    
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Document Info</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                    
                            <!-- Modal body -->
                            <div class="modal-body pl-4 pr-4 pt-1">
                                <img :src="'/media/qrcodes/'+docResponseInfo.qrcode"  class="qrimage" alt="">
                                <!-- <img src="/media/qrcodes/1000001.png" style="" alt=""> -->
                                <!-- [docResponseInfo.docname] -->
                                <p class="reg-size docinfo"><b>Document Name:</b> [getDocName(docResponseInfo.docname)]</p>
                                <p class="reg-size docinfo"><b>Trace ID:</b>  [docResponseInfo.traceid]</p>
                                <p class="reg-size docinfo"><b>Department:</b> [docResponseInfo.dept]</p>
                                <p class="reg-size docinfo"><b>Type:</b> [docResponseInfo.type]</p>
                                <p class="reg-size docinfo"><b>Date:</b> [docResponseInfo.date]</p>
                                <p class="reg-size docinfo" v-if="docResponseInfo.desc"><b>Description:</b> [docResponseInfo.desc]</p>
                                <p class="reg-size docinfo" ><b>Status:</b> [docResponseInfo.status]</p>
                                <p class="reg-size docinfo" v-if="docResponseInfo.sender"><b>Sender:</b> [docResponseInfo.sender]</p>
                                <p class="reg-size docinfo" v-if="docResponseInfo.comment"><b>Comment:</b> <br> [docResponseInfo.comment]</p>
                                <button class="btn btn-primary docinfo" @click="downloadDoc(docResponseInfo.docname)">Download Document</button>
                            </div>
                    
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
        
                        </div>
                    </div>
                </div>
            <div class="modal fade" id="deleteDoc">
                <div class="modal-dialog">
                    <div class="modal-content">
                
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Temporarily Delete Document</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                
                        <!-- Modal body -->
                        <div class="modal-body pl-4 pr-4 pt-1">
                            
                                <p class="alert alert-danger text-center mb-1 mt-3">Are you sure you want to  temporarily delete this document?</p>
    
                        </div>
                
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" @click="deleteTemporarilyDoc()">Yes</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
    
                    </div>
                    </div>
              </div>
              <div class="modal fade" id="rejectDoc">
                <div class="modal-dialog">
                    <div class="modal-content">
                
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Reject Document</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                
                        <!-- Modal body -->
                        <div class="modal-body pl-4 pr-4 pt-1">
                            
                                <p class="alert alert-danger text-center mb-1 mt-3">Are you sure you want to  reject this document?</p>
    
                        </div>
                
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" @click="rejectPendingDoc()">Yes</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
    
                    </div>
                    </div>
              </div>
                      <!-- The Modal for deleting document -->
        <div class="modal fade" id="deleteReceivedDocModal">
            <div class="modal-dialog">
                <div class="modal-content">
            
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Shared Document</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
            
                    <!-- Modal body -->
                    <div class="modal-body pl-4 pr-4 pt-1">
                        
                            <p class="alert alert-danger text-center mb-1 mt-3">Are you sure you want to delete this shared document?</p>

                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="deleteReceivedDoc()">Yes</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
                </div>
            </div>
            
            <br>
</div>
{% endblock %}