<header class="header" id="header">

    <div class="header_toggle" > <i class='bx bx-menu'  id="header-toggle" style="color: rgb(255,255,255);"></i> </div>

       <form @submit.prevent="search()" class="input-group search">

            {% csrf_token %}
            <input type="number" style="border-top-left-radius: 0.2em;border-bottom-left-radius: 0.2em" class="form-control" v-model="searchvalue" placeholder="Enter trace id . . ." required>
            <span class="fa fa-search btn btn-success" @click="search()"></span>

        </form>

        <span class="top-name" data-role='administrator'>[username]</span>
    <div class="header_img"> <img :src="'/media/'+photo" alt=""> </div>
    <!-- The Modal -->

      
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div> 
            <a href="javascript:void(0)" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">EVSU-DTS</span> </a>
            <div class="nav_list"> 
               <a href="/administrator/" data-bs-toggle="tooltip" title="Home" data-bs-placement="bottom" class="nav_link {% if request.session.title == 'Home' %} active {% endif %}"> <i class='bx bx-home-alt nav_icon'></i> <span class="nav_name">Home</span> </a>
               <a href="/administrator/mydocuments" data-bs-toggle="tooltip" data-bs-placement="bottom" title="My Documents" class="{% if request.session.title == 'My Documents' %} active {% endif %} nav_link"> <i class='bx bx-file-blank nav_icon'></i> <span class="nav_name">My Documents</span> </a> 
               <a href="/administrator/documents" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Documents" class="{% if request.session.title == 'Documents' %} active {% endif %} nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">All Documents</span> </a> 
               <a href="/administrator/departments" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Departments" class="nav_link {% if request.session.title == 'Departments' %} active {% endif %}"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Departments</span> </a> 
               <a href="/administrator/users" data-bs-toggle="tooltip" title="Users" data-bs-placement="bottom" class="nav_link {% if request.session.title == 'Users' %} active {% endif %}"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Users</span> </a> 
               <a href="/administrator/doctype" data-bs-toggle="tooltip" title="Document Types" data-bs-placement="bottom" class="nav_link {% if request.session.title == 'Doctype' %} active {% endif %}"> <i class='bx bx-file nav_icon'></i> <span class="nav_name">Document Type</span> </a> 
               <a href="/administrator/recyclebin" data-bs-toggle="tooltip" title="Recycle Bin" data-bs-placement="bottom" class="nav_link {% if request.session.title == 'Recycle Bin' %} active {% endif %}"> <i class='bx bx-trash nav_icon'></i> <span class="nav_name">Recycle Bin</span> </a> 
               <a href="/administrator/settings" data-bs-toggle="tooltip" title="Admin Account Settings" data-bs-placement="bottom" class="nav_link {% if request.session.title == 'Settings' %} active {% endif %}"> <i class='bx bx-wrench nav_icon'></i> <span class="nav_name">Settings</span> </a> 
             </div>
        </div> 
        
        <a href="/user/logout" data-bs-toggle="tooltip" title="Logout" data-bs-placement="bottom" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Log Out</span> </a>
    </nav>
</div>


<div class="modal" id="searchResult">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title">Search Result for : <strong id="searchres"></strong></h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body pl-3 pr-4 pt-1">
                <img src="" id="qr"  class="qrimage" alt="">
                <p class="mt-3 reg-size docinfo text-break"><strong>Docname: </strong><span id="docname"></span></p> 
                <p class="reg-size docinfo" ><strong>Trace #: </strong><span id="traceid"></span></p> 
                <p class="reg-size docinfo"><strong>Uploaded On: </strong><span id="uploaded"></span></p> 
                <p class="reg-size docinfo" id="holder"></p> 
                <p class="reg-size docinfo"><strong>Type: </strong><span id="type"></span></p> 
                <p class="reg-size docinfo"><strong>Department: </strong><span id="depart"></span></p> 
                <p class="reg-size docinfo"><strong>Status: </strong><span id="status"></span></p> 
                <button type="button" class="btn btn-primary docinfo mb-4" value="" id="download-doc">Download Document</button>
               
            </div>
        </div>
        </div>
    </div>
