<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.session.title}}</title>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/boxicons/css/boxicons.css' %}">
    
</head>
<style>
    body{
        background-image: url('/media/logo.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>
<body>
       {% block login_signup %}

       {% endblock %}

<script src="{% static 'assets/js/vue.js' %}"></script>

<script src="{% static 'assets/js/axios.js' %}"></script>
<script src="{% static 'assets/js/sweetalert.js' %}"></script>
<script src="{% static 'assets/js/loginsignup.js' %}"></script>
</body>
</html>